---
import { fakeMasonryItemId } from "@/constants/ids"
import { experience } from "@/data/my-background"
import MyBackgroundCard from "@/components/my-background-card.astro"
import FakeMasonryItem from "@/components/fake-masonry-item.astro"
---

<FakeMasonryItem id={fakeMasonryItemId.experience}>
  <h3>Experiencia</h3>

  <div class="experiences-list">
    {experience.map((data) => <MyBackgroundCard data={data} isExperience />)}
  </div>
</FakeMasonryItem>

<style>
  .experiences-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: clamp(14px, 13.52px + 0.129vw, 16px);
  }
</style>
