---
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import { fakeMasonryItemId } from "@/constants/ids"
import FakeMasonryItem from "@/components/fake-masonry-item.astro"

const locale = getLangFromUrl(Astro.url)
const t = useTranslations(locale)
---

<FakeMasonryItem id={fakeMasonryItemId.greeting} class="wrapper">
  <img
    class="image"
    src="/images/dresan-and-friend.webp"
    alt={t("about.greeting.image.alt")}
    width={578}
    height={662}
    loading="lazy"
  />
  <div class="message-list">
    <div class="message">{t("about.greeting.message1")}</div>
    <div class="message">{t("about.greeting.message2")}</div>
    <div class="message">{t("about.greeting.message3")}</div>
  </div>
</FakeMasonryItem>

<style>
  .wrapper {
    position: relative;
    padding: 0;
    overflow: hidden;
  }

  .image {
    block-size: auto;
    inline-size: 100%;
  }

  .message-list {
    position: absolute;
    inset: 24px;
    inset-block-start: unset;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .message {
    --background-opacity: 0.8;
    inline-size: fit-content;
    padding: 4px 10px;
    background-color: hsl(var(--color-card-background-secondary-hsl) / var(--background-opacity));
    border-radius: 4px 20px 20px 4px;
    text-wrap: pretty;
    transition: background-color var(--theme-transition-duration);
  }

  html[data-theme="light"] .message {
    --background-opacity: 0.9;
  }

  .message:first-of-type {
    border-top-left-radius: 20px;
  }

  .message:last-of-type {
    border-bottom-left-radius: 20px;
  }
</style>
