---
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import { fakeMasonryItemId } from "@/constants/ids"
import FakeMasonryItem from "@/components/fake-masonry-item.astro"
import SpotifyNowPlaying from "@/components/spotify-now-playing.astro"

const locale = getLangFromUrl(Astro.url)
const t = useTranslations(locale)
---

<FakeMasonryItem id={fakeMasonryItemId.lastSongListened}>
  <h3>{t("about.lastSongListened.title")}</h3>

  <SpotifyNowPlaying />
</FakeMasonryItem>
