---
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import { fakeMasonryItemId } from "@/constants/ids"
import FakeMasonryItem from "@/components/fake-masonry-item.astro"

const locale = getLangFromUrl(Astro.url)
const t = useTranslations(locale)
---

<FakeMasonryItem id={fakeMasonryItemId.moreAbout}>
  <h3>{t("about.more.title")}</h3>
  <p>
    {t("about.more.description.paragraph1")}
  </p>
  <p>
    {t("about.more.description.paragraph2")}
  </p>

  <p>
    {t("about.more.description.paragraph3")}
  </p>

  <p>
    {t("about.more.description.paragraph4")}
  </p>
</FakeMasonryItem>

<style>
  p {
    padding-block-end: 1lh;
  }
</style>
