---
import FakeMasonryItem from "@/components/fake-masonry-item.astro"
import ColombiaFlag from "@/components/icons/colombia-flag.astro"
import ReactIcon from "@/components/icons/react-icon.astro"
import VueJsIcon from "@/components/icons/vuejs-icon.astro"
---

<FakeMasonryItem id="more-about">
  <h3>Un poco m치s</h3>
  <p class="text">
    Soy de Colombia <ColombiaFlag /> y disfruto aprender sobre el mundo del desarrollo de software, valoro
    los peque침os detalles y soy gran fan de CSS (춰el mejor lenguaje de programaci칩n! 游뗵).
  </p>
  <p class="text">
    En mi tiempo libre suelo consumir contenido sobre tecnolog칤a, contribuir a proyectos de c칩digo
    abierto, mejorar mi creatividad y habilidades de comunicaci칩n, solucionar problemas de c칩digo o
    generar ideas para mis proyectos.
  </p>

  <p class="text">
    Me gusta mucho trabajar en la web, hacer que sea un lugar accesible, agradable y eficiente para
    todo tipo de usuarios.
  </p>

  <p class="text">
    Actualmente, estoy profundizando mi conocimiento en el ecosistema de React <ReactIcon /> y adentr치ndome
    en el mundo de Vue.js <VueJsIcon />.
  </p>
</FakeMasonryItem>

<style>
  .text {
    padding-block-end: 12px;
  }
  .text:last-of-type {
    padding-block-end: 0;
  }

  .text svg {
    display: inline-block;
    vertical-align: top;
    margin-inline: 4px;
  }
</style>
