---
import { fakeMasonryItemId } from "@/constants/ids"
import { extraProjects } from "@/data/projects"
import FakeMasonryItem from "@/components/fake-masonry-item.astro"
import GithubProjectCard from "@/components/github-project-card.astro"
---

<FakeMasonryItem id={fakeMasonryItemId.moreProjects}>
  <h3>Otros proyectos</h3>

  <ul class="project-list">
    {extraProjects.map((data) => <GithubProjectCard {...data} />)}
  </ul>
</FakeMasonryItem>

<style>
  .project-list {
    border-block-start: 1px solid var(--color-stroke);
    transition: border-block-start-color var(--theme-transition-duration);
  }
</style>
