---
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import { fakeMasonryItemId } from "@/constants/ids"
import { skills } from "@/data/my-skills"
import FakeMasonryItem from "@/components/fake-masonry-item.astro"

const locale = getLangFromUrl(Astro.url)
const t = useTranslations(locale)
---

<FakeMasonryItem id={fakeMasonryItemId.myStack}>
  <h3>{t("about.myStack.title")}</h3>

  <div class="technologies-list">
    {
      skills.map(({ label, url, ...skill }) => (
        <a
          class="technology-link"
          aria-label={`${t("label.visitTheSiteOf")} ${label}`}
          data-tooltip
          data-tooltip-content={label}
          href={url}
          target="_blank"
          rel="noopener"
        >
          <skill.icon />
        </a>
      ))
    }
  </div>
</FakeMasonryItem>

<style>
  .technologies-list {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(26px, 27.456px + -0.388vw, 20px);
  }

  .technologies-list svg {
    --size: 34px;
    inline-size: var(--size);
    block-size: var(--size);
  }

  .technology-link {
    transition: transform 200ms ease-in-out;
  }

  .technology-link:hover {
    transform: scale(1.15);
  }
</style>
