.card {
	--border-radius: clamp(12px, 8.268px + 0.259vw, 16px);
	position: relative;
}

.modalTrigger:is(:focus-visible, :hover) ~ .imageWrapper {
	filter: contrast(1) grayscale(0);
}

.modalTrigger {
	position: absolute;
	inset: 0;
	z-index: 1;
	border-radius: var(--border-radius);
}

.imageWrapper {
	overflow: hidden;
	border-radius: var(--border-radius);
	filter: contrast(1.1) grayscale(1);
	transition: filter 500ms;
}

.image {
	block-size: auto;
	inline-size: 100%;
	aspect-ratio: 3 / 2;
	transition: transform 500ms;
}

.card:hover .image {
	transform: scale(1.1);
}

.gradientImage {
	position: absolute;
	inset: 0;
	z-index: -1;
	block-size: auto;
	aspect-ratio: 3 / 2;
	transform: scale(1.15);
	filter: blur(60px);
	opacity: 0;
	transition: opacity 500ms;
}

.card:has(.modalTrigger:hover, .modalTrigger:focus-visible) .gradientImage {
	opacity: 0.4;
}

.title {
	padding-block-start: 14px;
	font-size: 24px;
}
