:root {
	--ease-elastic-out-3: cubic-bezier(0.5, 1.25, 0.75, 1.25);
	--ease-elastic-3: var(--ease-elastic-out-3);
	--ease-elastic-out-4: cubic-bezier(0.5, 1.5, 0.75, 1.25);
	--ease-elastic-4: var(--ease-elastic-out-4);
	--ease-3: cubic-bezier(0.25, 0, 0.3, 1);
	--ease-out-5: cubic-bezier(0, 0, 0, 1);
	--header-block-size: 64px;
	--footer-block-size: 100px;
	--space-inline: 24px;
	--space-block: 32px;
	--max-inline-size: 1400px;
	--theme-transition-duration: 150ms;
	--safe-space: 5px;
	--max-content-block-size: calc(
		100vh - var(--header-block-size) - var(--footer-block-size) - var(--safe-space)
	);

	font-size: 16px;
	scroll-behavior: smooth;
	scrollbar-gutter: stable;
	scrollbar-color: var(--color-text) var(--color-background);
}

:root:has([data-scroll-locked="1"]) {
	scrollbar-gutter: unset;
}

[data-theme="light"] {
	--color-primary-hsl: 212 100% 48%;
	--color-background-hsl: 0 0% 99%;
	--color-text-hsl: 0 0% 1%;
	--color-stroke-hsl: 0 3% 84%;
	--color-card-background-hls: 0 2% 85%;

	--color-primary: hsl(212 100% 48%);
	--color-text: hsl(0 0% 1%);
	--color-text-secondary: hsl(0 0% 40%);
	--color-background: hsl(0 0% 99%);
	--color-themed-background: hsl(0 0% 99%);
	--color-background-secondary: hsl(0 10% 98%);
	--color-stroke: hsl(0 2% 76%);
	--color-themed-stroke: hsla(0 0 0 / 0.14);
	--color-card-background: hsl(0 0% 94%);
	--color-card-background-secondary: hsl(0 2% 88%);
	--color-hover-card-background-secondary: hsl(0 2% 80%);

	--text-gradient: linear-gradient(180deg, hsl(0 0% 33%), hsl(0 0% 0%));

	color-scheme: light;
}

[data-theme="dark"] {
	--color-primary-hsl: 212 100% 48%;
	--color-background-hsl: 0 0% 1%;
	--color-text-hsl: 0 0% 93%;
	--color-stroke-hsl: 0 0% 12%;
	--color-card-background-hls: 0 1% 15%;

	--color-primary: hsl(212 100% 48%);
	--color-text: hsl(0 0% 93%);
	--color-text-secondary: hsl(0 0% 62%);
	--color-background: hsl(0 0% 1%);
	--color-themed-background: hsl(0 0% 4%);
	--color-background-secondary: hsl(0 0% 6%);
	--color-stroke: hsl(0 0% 12%);
	--color-themed-stroke: hsl(0 0% 100% / 0.14);
	--color-card-background: hsl(0 0% 7%);
	--color-card-background-secondary: hsl(0 1% 15%);
	--color-hover-card-background-secondary: hsl(0, 0%, 24%);

	--text-gradient: linear-gradient(180deg, hsl(0 0% 100%), hsl(0 0% 68%));

	color-scheme: dark;
}

::selection {
	background-color: var(--color-primary);
	color: hsl(0 0% 100%);
}

:focus-visible {
	outline: 2px solid hsl(210 100% 66%);
	outline-offset: 2px;
}

body {
	text-rendering: optimizeSpeed;
	accent-color: var(--color-primary);
	color: var(--color-text);
	background-color: var(--color-background);
	transition:
		color var(--theme-transition-duration),
		background-color var(--theme-transition-duration);
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 20px;
}

button,
a {
	border-radius: 1px;
}

.__next {
	isolation: isolate;
}

[id] {
	scroll-margin-block-start: calc(var(--header-block-size) - 1px);
}

@media screen and (min-width: 768px) {
	:root {
		--space-inline: 32px;
		--space-block: 100px;
	}

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 24px;
	}
}
