.fakeMasonry {
	column-count: 1;
	gap: 32px;
	max-inline-size: 1920px;
	margin-inline: auto;
}

@media screen and (min-width: 900px) {
	.fakeMasonry {
		column-count: 2;
	}
}

@media screen and (min-width: 1400px) {
	.fakeMasonry {
		column-count: 3;
	}
}

.fakeMasonry > * {
	break-inside: avoid;
	margin-block-end: 32px;
}
