---
import Layout from "@/layouts/layout.astro"
import Action from "@/components/ui/action.astro"
---

<Layout
  title="Dresan - 404"
  description="Página no encontrada. Vuelve al inicio para seguir explorando mi trabajo y trayectoria."
  canonical="https://www.dresan.dev/404"
  vh={true}
>
  <h1 class="title">404</h1>
  <p class="description">Página no encontrada ♨︎_♨︎</p>
  <Action as="a" href="/">Volver al inicio</Action>
</Layout>

<style>
  .title {
    font-size: clamp(150px, 137.872px + 3.236vw, 200px);
    line-height: 1;
    font-family: var(--secondary-font);
  }

  .description {
    font-size: 20px;
    padding-block-end: 24px;
  }
</style>
