.wrapper {
	overflow: hidden;
}

.title {
	--padding-block-end: 32px;
	padding-block-end: var(--padding-block-end);
	text-align: center;
}

.projectsWrapper {
	display: grid;
	gap: 32px;
}

@media screen and (min-width: 820px) {
	.projectsWrapper {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		max-inline-size: var(--max-inline-size);
		margin-inline: auto;
	}

	.title {
		--padding-block-end: 64px;
	}
}
