---
import type { UiKey } from "@/i18n/ui"
import { getLangFromUrl, useTranslations } from "@/i18n/utils"

interface Props {
  url: string
  title: string
  descriptionI18nId: UiKey
}

const { url, title, descriptionI18nId } = Astro.props

const locale = getLangFromUrl(Astro.url)
const t = useTranslations(locale)
---

<li class="card">
  <h4 class="title">
    <a class="link" href={url} target="_blank">
      {title}
    </a>
  </h4>
  <p>{t(descriptionI18nId)}</p>
</li>

<style>
  .card {
    padding-block: 12px;
    border-block-end: 1px solid var(--color-stroke);
    transition: border-block-end-color var(--theme-transition-duration);
  }

  .title {
    padding-block-end: 4px;
    font-size: 18px;
    font-weight: 500;
  }

  .link {
    --hover-color: hsl(214 93% 65%);
  }

  .link:hover {
    color: var(--hover-color);
  }

  html[data-theme="light"] .link {
    --hover-color: hsl(210 100% 42%);
  }

  .link:hover {
    text-decoration: underline 2px;
  }
</style>
