---
import Typography from "@/components/ui/typography.astro"
import FakeMasonry from "@/components/fake-masonry.astro"
import Intro from "@/components/about-cards/intro.astro"
import MoreAbout from "@/components/about-cards/more-about.astro"
import MoreProjects from "@/components/about-cards/more-projects.astro"
import Greeting from "@/components/about-cards/greeting.astro"
import Experience from "@/components/about-cards/experience.astro"
import Education from "@/components/about-cards/education.astro"
import MyStack from "@/components/about-cards/my-stack.astro"
import LastSongListened from "@/components/about-cards/last-song-listened.astro"
---

<section id="about" data-set-scroll-margin class="section-wrapper">
  <Typography as="h2" variant="h2" class="section-title">Sobre mí</Typography>

  <FakeMasonry class="fake-masonry">
    <Intro />
    <MoreAbout />
    <LastSongListened />
    <Greeting />
    <MoreProjects />
    <Experience />
    <Education />
    <MyStack />
  </FakeMasonry>
</section>
