---
import { projects } from "@/data/projects"
import Typography from "@/components/ui/typography.astro"
import ProjectCard from "@/components/project-card.astro"
---

<section id="projects" data-set-scroll-margin>
  <div class="wrapper section-wrapper">
    <Typography as="h2" variant="h2" class="section-title">Proyectos destacados</Typography>
    <div class="projects-wrapper">
      {projects.map((data) => <ProjectCard {...data} />)}
    </div>
  </div>
</section>

<style>
  .wrapper {
    overflow: hidden;
  }

  .projects-wrapper {
    display: grid;
    gap: 32px;
  }

  @media screen and (min-width: 820px) {
    .projects-wrapper {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      max-inline-size: var(--max-inline-size);
      margin-inline: auto;
    }
  }
</style>
