---
import { sectionId } from "@/constants/ids"
import { projects } from "@/data/projects"
import Section from "@/components/section.astro"
import SectionTitle from "@/components/section-title.astro"
import ProjectCard from "@/components/project-card.astro"
---

<Section id={sectionId.projects} class="section">
  <SectionTitle>Proyectos destacados</SectionTitle>
  <div class="projects-wrapper">
    {projects.map((data) => <ProjectCard {...data} />)}
  </div>
</Section>

<style>
  .section {
    overflow-x: clip;
  }

  .projects-wrapper {
    display: grid;
    gap: 32px;
  }

  @media screen and (min-width: 820px) {
    .projects-wrapper {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      max-inline-size: var(--max-inline-size);
      margin-inline: auto;
    }
  }
</style>
