.wrapper {
	position: relative;
}

.backgroundImage {
	block-size: auto;
	padding-block: 30px;
	margin-inline: auto;
}

.messageList {
	position: absolute;
	inset: 24px;
	inset-block-start: unset;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.message {
	inline-size: fit-content;
	padding: 4px 10px;
	background-color: hsl(var(--color-card-background-hls) / 0.8);
	border-radius: 4px 20px 20px 4px;
}

.message:first-of-type {
	border-top-left-radius: 20px;
}

.message:last-of-type {
	border-bottom-left-radius: 20px;
}

.emailLink {
	--hover-color: hsl(0 95% 66%);
	text-decoration: underline;
}

[data-theme="light"] .emailLink {
	--hover-color: hsl(1 93% 38%);
}

.emailLink:hover {
	color: var(--hover-color);
}
