.technologiesList {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

.technologiesList svg {
	--size: 34px;
	inline-size: var(--size);
	block-size: var(--size);
}

@media screen and (min-width: 768px) {
	.technologiesList svg {
		--size: 30px;
	}
}
